@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.ubuntu{
    font-family:'Ubuntu', sans-serif;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
}
.mandatory{
    color: red;
}
.mandatory-text{
    font-size: smaller;
}
.card-head{
	background: linear-gradient(145deg,#3498db,#8e10ad);
}
.btn-custom{
	background: linear-gradient(225deg,#3498db,#8e10ad);
	color: #fff;
	transition: 5s;
	font-size: 16px;
	width: 100%;
}
.btn-custom:hover{
	background: linear-gradient(90deg,#3498db,#8e10ad);
	color: #fff;
}
.error{
	color:red;
}
.footer{
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
}
.unstyle {
	list-style: none;
}

@-webkit-keyframes autofill {
	to {
		color: #666;
		background: transparent; 
	} 
}

@keyframes autofill {
	to {
		color: #666;
		background: transparent; 
	} 
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	animation-name: autofill;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; 
}
@media screen and (max-width:800px){
	.card{
		width: 20rem;
		}
}